# Virtual environments
.venv/
env/

# Build / cache directories
build/
dist/
__pycache__/

# Logs / runtime data
logs/
data/

# Environment variables
.env
ads.txt
aids-attendance-system-firebase-adminsdk.json

assignments/
notes/
lab-manuals/